* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fuentes/openSans.ttf");
}

html {
  font-size: 10px;
  font-family: miFuente;
}

body {
  background-color: #e0e8f8;
  font-size: 1.5em;
}

.container {
  display: grid;
  max-width: 40%;
  height: auto;
  margin: 20px auto;

  grid:
    "logo     logo      logo" 150px
    "cop      cop       cop" 100px
    "dolar    dolar     dolar" 100px
    "euro     euro      euro" 100px /
    1fr 1fr 1fr;

  gap: 15px;
}

.caja {
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background: azure;
  padding: 3px;
  display: flex;
  align-items: center;
}

/* Clase que resalta div seleccionado */
.resaltado {
  border: 2px solid blue;
}

.logo {
  grid-area: logo;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  height: 20%;
  font-size: 1.6em;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
}

.imagen {
  height: 70%;
  width: auto;
}

.imagen img {
  height: 100%;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.cop {
  grid-area: cop;
  display: flex;
}
.dolar {
  grid-area: dolar;
  display: flex;
}
.euro {
  grid-area: euro;
  display: flex;
}

.logoCard {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoCard img {
  width: 100%;
}

.logoCard2 img {
  width: 85%;
}

.logoCard3 img {
  width: 87%;
}

.inputCard {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCard {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}

input {
  padding: 10px;
  border: none;
  text-align: right;
  background-color: transparent;
  font-size: 1.5em;
}

input:focus {
  border: none;
  outline-color: transparent;
}

button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
}

button img {
  width: 80%;
  height: 80%;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    width: 90%;
  }

  .caja {
    display: flex;
    gap: 10px;
  }

  input {
    padding: 10px;
    border: none;
    text-align: right;
    background-color: transparent;
    font-size: 1.5em;
    width: 100%;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}
